docs/n8n-suggestion-workflow.json
{
  "name": "Koly Dashboard Suggestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-suggestion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-128, 0],
      "webhookId": "dashboard-suggestion-webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 500
        }
      },
      "id": "anthropic-chat",
      "name": "Anthropic Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [80, 192],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIALS_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Przeanalizuj dane i daj mi jedna konkretna sugestie co moge poprawic w moim biznesie. Odpowiedz TYLKO w formacie JSON: {\"suggestion\": \"tresc\", \"category\": \"finance|marketing|operations|growth\"}",
        "options": {
          "systemMessage": "=Jestes Koly — osobistym asystentem biznesowym dla {{ $json.body.context.user.name || 'uzytkowniczki' }}, ktora prowadzi {{ $json.body.context.user.industry || 'biznes uslugowy' }} pod nazwa \"{{ $json.body.context.user.businessName || 'salon' }}\"{{ $json.body.context.user.city ? ' w ' + $json.body.context.user.city : '' }}.\n\nTWOJE ZADANIE:\nPrzeanalizuj dane biznesowe i daj JEDNA konkretna, actionable sugestie. Odpowiedz TYLKO w formacie JSON.\n\nDANE BIZNESU:\nForma opodatkowania: {{ $json.body.context.user.taxForm || 'ryczalt' }} (stawka {{ $json.body.context.user.taxRate || 8.5 }}%)\nSkladka ZUS: {{ $json.body.context.user.zusMonthly || 0 }} zl/mies\n\nKoszty stale ({{ $json.body.context.totalFixedCosts }} zl/mies):\n{{ $json.body.context.fixedCosts.map(c => '- ' + c.name + ': ' + c.amount + ' zl').join('\\n') || 'Brak kosztow stalych' }}\n\nCennik uslug:\n{{ $json.body.context.services.map(s => '- ' + s.name + ': ' + s.price + ' zl (' + s.durationMinutes + ' min, koszt mat.: ' + s.materialCost + ' zl, zysk: ' + s.profit + ' zl, ' + s.profitPerHour + ' zl/h)').join('\\n') || 'Brak uslug' }}\n\nBIEZACY MIESIAC ({{ $json.body.context.currentMonth }}):\nPrzychod: {{ $json.body.context.monthSummary.revenue.toFixed(2) }} zl | Zysk netto: {{ $json.body.context.monthSummary.netProfit.toFixed(2) }} zl\nWizyty: {{ $json.body.context.monthSummary.visitCount }} | No-show: {{ $json.body.context.monthSummary.noShowCount }} (strata: {{ $json.body.context.monthSummary.noShowCost.toFixed(2) }} zl)\nDni pracy: {{ $json.body.context.monthSummary.daysWorked }}\n\nPOPRZEDNI MIESIAC ({{ $json.body.context.previousMonth }}):\nPrzychod: {{ $json.body.context.prevMonthSummary.revenue.toFixed(2) }} zl | Zysk netto: {{ $json.body.context.prevMonthSummary.netProfit.toFixed(2) }} zl\nWizyty: {{ $json.body.context.prevMonthSummary.visitCount }} | No-show: {{ $json.body.context.prevMonthSummary.noShowCount }}\nDni pracy: {{ $json.body.context.prevMonthSummary.daysWorked }}\n\nZASADY SUGESTII:\n- Max 2-3 zdania\n- Konkretna, actionable sugestia\n- Kategorie: finance (finanse, ceny), marketing (promocja, social media), operations (procesy, no-show), growth (rozwoj, zatrudnienie)\n- Bez ogolnikow, opieraj sie na danych\n- Jesli wszystko OK, pochwal i zasugeruj rozwoj\n- ZAWSZE odpowiadaj po polsku\n- ZAWSZE odpowiadaj TYLKO w formacie JSON\n\nPRZYKLADY ODPOWIEDZI:\n{\"suggestion\": \"Twoje no-show kosztuja 450 zl miesiecznie. Rozwaz wprowadzenie zaliczek online lub przypomnienia SMS.\", \"category\": \"operations\"}\n{\"suggestion\": \"Usluga Manicure hybrydowy ma najwyzsza marze (85 zl/h). Promuj ja mocniej na Instagramie.\", \"category\": \"marketing\"}\n{\"suggestion\": \"Swietny miesiac! Przy 12k przychodu mozesz myslec o zatrudnieniu asystentki.\", \"category\": \"growth\"}\n{\"suggestion\": \"Twoja marza na usludze X jest niska (30 zl/h). Rozwaz podwyzke o 20 zl.\", \"category\": \"finance\"}"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [80, 0]
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response and extract JSON\nconst aiResponse = $input.first().json.output || '';\n\ntry {\n  // Try to find JSON in the response\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    return {\n      suggestion: parsed.suggestion || 'Dodaj wiecej danych, zeby Koly mogla lepiej analizowac Twoj biznes.',\n      category: parsed.category || 'operations'\n    };\n  }\n} catch (e) {\n  // If JSON parsing fails, return the raw text as suggestion\n}\n\n// Fallback - return AI response as suggestion\nreturn {\n  suggestion: aiResponse || 'Dodaj wiecej danych, zeby Koly mogla lepiej analizowac Twoj biznes.',\n  category: 'operations'\n};"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
